<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <div class="container mt-6">
        <div class="notification is-primary">
            <h1 class="is-size-2" >Hasta pronto<strong> <%= nombre %> </strong></h1>
        </div>
        <button onclick="location.href='/login'" class="button is-primary mt-3">Go to login</button>
    </div>
</body>

</html>