<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    <h1>Registro</h1>
    <form action="/registro" method="post" class="control has-icons-left has-icons-right">
            <label class="label mt-6">Email</label>
            <input class="input is-success mt-3" type="text" name="mail" placeholder="Ingresa tu email" >
            <label class="label mt-6">Contraseña</label>
            <input class="input is-success mt-3" type="password" name="password" placeholder="Crea una contraseña" >
            <label class="label mt-6">Nombre</label>
            <input class="input is-success mt-3" type="text" name="nombre" placeholder="Ingresa tu nombre" >
            <label class="label mt-6">Dirección</label>
            <input class="input is-success mt-3" type="text" name="address" placeholder="Ingresa tu dirección" >
            <label class="label mt-6">Edad</label>
            <input class="input is-success mt-3" type="number" name="edad" placeholder="Ingresa tu número de celular" >
            <label class="label mt-6">Número de Teléfono</label>
            <input class="input is-success mt-3" type="number" name="phone" placeholder="Ingresa tu nombre" >
            <label class="label mt-6">Foto Url</label>
            <input class="input is-success mt-3" type="text" name="photo" placeholder="Ingresa la URL de tu foto" >
            <button type="submit" class="button is-primary mt-3">Enviar</button>
        </form>
</body>
</html>